# server info
PORT
CLIENT_URL

# MongoDb Info
MONGODB_URL
MONGODB_ATLAS_URL

# node env
NODE_ENV

# Jwt secret key
JWT_SECRET_TOKEN

# admin credentials
ADMIN_EMAIL
ADMIN_ID

# email info
SMTP_USER
SMTP_PASS
SMTP_HOST

# Imagekit
IMAGEKIT_PUBLIC_KEY
IMAGEKIT_PRIVATE_KEY
IMAGEKIT_URL_ENDPOINT